.link, a .link:visited {
	text-decoration: none;
	cursor: pointer;
}
.link:hover{
	text-decoration: underline;
}
#header {
	/*position: fixed;
	top: 0;
	z-index: 10;*/
}
#app {
	height: calc(100vh - 39px);
	max-height: calc(100vh - 39px);
	min-height: calc(100vh - 39px);
	overflow: auto;
	z-index: -10;
}
.user-image {
	max-width: 50%;
	float: left;
	margin: 5px 13px;
}
.creation-info {
	font-size: 0.9em;
}
html, body {margin: 0; height: 100%; overflow: hidden;}
.post-text {
    white-space: pre-wrap;
}
